*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 246, 224);
}

header{
    height: 81px;
    background-color: lightgreen;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header div img{
    height: 55px;
}

header div input{
    width: 700px;
    height: 40px;
    border-radius: 28px;
}

header div button{
    background-color:rgba(0, 255, 255, 0) ;
    /* padding: 20px 8px; */
    
    padding: 20px 8px 20px 8px;

    /* padding-top: 20px;
    padding-right: 8px;
    padding-bottom: 20px;
    padding-left: 8px; */

    border-radius: 28px;
    border: none;
}

header div button:hover{
    background-color:rgb(228, 228, 228) ;
    /* padding: 20px 8px; */
    
    padding: 20px 8px 20px 8px;

    /* padding-top: 20px;
    padding-right: 8px;
    padding-bottom: 20px;
    padding-left: 8px; */

    border-radius: 28px;
    border: none;
}

footer{
    background-color:rgb(38, 0, 141);
    height: 270px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    color: rgb(122, 122, 122);
    padding: 15px;

}

footer div{
    background-color: rgb(38, 0, 141);
    display: flex;
    margin-top: 15px;
}

footer div ul{
    list-style-type: none;

}

.footer-arriba{
    justify-content: space-between;
}

.footer-abajo{
    justify-content: space-between;
}

.footer-abajo li{
    display: inline;
    list-style-type: circle; 
}